*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --border-color: #d5d5d6;
  --elevator-width: 6rem;
  --elevator-height: 10rem;
  --elevator-header-height: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-size: 1.6rem;
  padding: 2rem 2rem;
}

.container {
  width: 100%;
}

.elevator-simulation__content {
  position: relative;
  padding: 2rem 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.elevator-simulation__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.elevator-simulation__header-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.elevator-simulation__header-btn {
  display: block;
  text-decoration: none;
  font-weight: 500;
  padding: 0.8rem 1.2rem;
  min-width: 5.2rem;
  border: 2px solid var(--border-color);
  border-radius: 0.6rem;
  background-color: #fff;
  color: inherit;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.elevator-simulation__header-btn:hover {
  background-color: #f4f4f5;
}

.elevator-simulation__floor-top {
  display: flex;
  gap: 5rem;
  height: 12rem;
}


.elevator-simulation__floor-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 1rem;
}

.elevator-simulation__floor-base {
  flex-grow: 1;
  height: 0.2rem;
  background-color: #000;
}

.elevator-simulation__floor-label {
  font-weight: 500;
}

.elevator-simulation__floor-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

.elevator-simulation__floor-btn {
  font-family: inherit;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
  min-width: 5.2rem;
  border: 2px solid var(--border-color);
  border-radius: 0.6rem;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in, border 0.2s ease;
}

.elevator-simulation__floor-btn.active {
  border: 2px solid #000;
}

.elevator-simulation__floor-btn:hover {
  background-color: #f4f4f5;
}

.elevator-simulation__elevators {
  display: flex;
  align-items: flex-end;
  gap: 3rem;
  position: absolute;
  bottom: 3rem;
}

.elevator-simulation__elevator {
  width: var(--elevator-width);
  height: var(--elevator-height);
  border-left: 0.5rem solid #6e6e6e;
  border-right: 0.5rem solid #6e6e6e;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #c9c9c9;
  position: absolute;
  left: 10rem;
  transition: transform 2s linear;
}

.elevator-simulation__elevator-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6e6e6e;
  height: var(--elevator-header-height);
  width: 100%;
}

.elevator-simulation__indicator {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 3.4rem;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  padding: 0rem 0.4rem;
  font-weight: bold;
}

.elevator-simulation__elevator-door-wrap {
  width: 100%;
  height: calc(100% - var(--elevator-header-height));
  position: relative;
}

.elevator-simulation__elevator-door {
  position: absolute;
  background-color: #969696;
  height: 100%;
  width: 50%;
  max-width: calc(50% - 0.5px);
  transition: width 1.4s linear;
}

.elevator-simulation__elevator.open .elevator-simulation__elevator-door {
  width: 0%;
}

.elevator-simulation__elevator-door--left {
  left: 0;
}

.elevator-simulation__elevator-door--right {
  right: 0;
}

/* form */
.elevator-simulation__form {
  border: 2px solid var(--border-color);
  border-radius: 0.8rem;
  width: 100%;
  max-width: 33rem;
  margin: 8rem auto 0;
}

.elevator-simulation__form-wrap {
  padding: 2rem;
}

.elevator-simulation__form-header {
  margin-bottom: 2.5rem;
}

.elevator-simulation__form-heading {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.elevator-simulation__form-text {
  color: #6e6e77;
  font-size: 1.5rem;
}

.elevator-simulation__form-item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.elevator-simulation__form-label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.elevator-simulation__form-input {
  border: 1px solid var(--border-color);
  border-radius: 0.7rem;
  padding: 1rem 1.2rem;
  outline: none;
  width: 100%;
  font-size: 1.4rem;
  font-family: inherit;
}

.elevator-simulation__form-footer {
  margin-top: 2rem;
}

.elevator-simulation__form-btn {
  background-color: rgb(24, 24, 27);
  color: #fff;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 0.6rem;
  border: 0;
  width: 100%;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}

.elevator-simulation__form-btn:hover {
  background-color: rgba(24, 24, 27, 0.9);
}

.elevator-simulation__form-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.elevator-simulation__form-social {
  width: 2.5rem;
  transition: transform 0.2s ease-in;
}

.elevator-simulation__form-social:hover {
  transform: scale(1.08);
}

.elevator-simulation__form-social img {
  display: block;
  width: 100%;
}
